.slider {
  position: relative;
  width: 100%;
  height: 100%;
}

// TEXT
.slider-content {
  position: absolute;
  width: 100%;
  height: calc(100% - #{$dynamic-size});
  z-index: 3;
}

.slider-content__slide {
  @include flex-center;
}
@media (max-width: 770px) {
  .slider-content__slide {
    justify-content: end;
    padding-right: calc($index * 1);
  }
}

.slider-text {
  position: relative;
  width: calc($index * 28);
  height: 50dvh;
  display: flex;
  align-items: center;
  justify-content: end;
}
@media (max-width: 1024px) {
  .slider-text {
    width: calc($index * 24);
  }
}

.slider-text__wrapper {
  div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      width: 0;
      height: 0;
      margin: 0 auto;
      padding-right: 5px;
      opacity: 0;
      line-height: 1;
      font-family: $user-font;
      font-size: clamp(1.75rem, 0.536rem + 6.07vw, 6rem);
      border-right: 1px solid $accent;
      white-space: nowrap;
      overflow: hidden;
      animation: typing 1.5s forwards cubic-bezier(0.6, 0, 0.3, 1);
      animation-delay: 0.25s;

      span {
        color: $accent;
      }
    }
  }

  p {
    text-align: end;
    margin-top: 0.5rem;
    opacity: 0;
    filter: blur(0.25px);
    letter-spacing: 0.25rem;
    font-size: $dynamic-fontSize;
    transition: 1s ease-out;
  }
}

@keyframes typing {
  100% {
    opacity: 1;
    height: 100%;
    width: 100%;
    display: inline-block;
  }
}

.slider-text .slider-text__wrapper:hover p {
  letter-spacing: 0.2rem;
  opacity: 1;
  filter: blur(0);
}

.slider-button__wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  width: clamp(9rem, 8.429rem + 2.86vw, 11rem);
  height: clamp(2.5rem, 2.357rem + 0.71vw, 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

// IMAGES
.slider-img {
  height: 100%;
  width: 75%;
  overflow: hidden;
  position: relative;

  &::before {
    //! фильтр img
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.45);
    z-index: 2;
  }
}

@media (max-width: 770px) {
  .slider-img {
    width: 100%;
    height: 100%;
  }
}

.slider-img__bg {
  height: 100%;
  background-position: center;
  background-size: cover;
}

// SLIDER BOTTOM
.slider-bottom {
  position: absolute;
  bottom: 0.5rem;
  left: $dynamic-size;
  height: $dynamic-size;
  display: flex;
  align-items: center;
  z-index: 5;
  width: calc(75% - #{$dynamic-size}); // !!!
}

@media (max-width: 770px) {
  .slider-bottom {
    width: 90%;
  }
}

// PAGINATION
.slider-pagination {
  position: relative;
  height: $dynamic-size;
  flex: 0 0 140px;
  @include flex-center;

  .swiper-pagination {
    position: relative;
    top: -1px;
    width: 100%;
    height: 100%;
    @include flex-center;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    opacity: 0.8;
    background-color: white;
  }

  .swiper-pagination-bullet-active {
    position: relative;
    background-color: $accent;

    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      border: 1px solid $accent;

      border-radius: 100%;
      top: -5px;
      left: -5px;
    }
  }
}

// SCROLLBAR
.slider-scrollbar {
  position: relative;
  flex: 1 0 0;
  top: 4px;

  .swiper-scrollbar {
    height: 1px;
    background-color: rgba(white, 0.8);
  }

  .swiper-scrollbar-drag {
    height: 4px;
    background-color: $accent;
    top: -1.5px;
  }
}

@media (max-width: 480px) {
  .slider-scrollbar {
    visibility: hidden;
  }
}

// NAVIGATION
.slider-navigation {
  position: relative;
  flex: 0 0 140px;

  &__container {
    max-width: 70px;
    position: relative;
    margin: auto;
    top: -3px;
  }

  .swiper-btn-prev,
  .swiper-btn-next {
    top: 4px !important;
    color: $accent !important;
    &::after {
      font-size: 33px !important;
    }
  }

  .swiper-button-disabled {
    opacity: 0.8;
    color: #8a8a8a;
    border-color: #8a8a8a;
  }

  .swiper-btn-prev {
    left: 0;
  }

  .swiper-btn-next {
    right: 0;
  }
}

@media (max-width: 770px) {
  .slider-navigation__position {
    right: 0;
  }
}
